<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DOING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DOING</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="cardTodo" *ngFor="let doing of doingList">
    <ion-card-header>
      <ion-card-subtitle>{{doing.type}}</ion-card-subtitle>
      <ion-card-title>{{ doing.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{doing.content}}
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-chip (click)="updateTask(doing,'TODO')" tappable>
            <ion-icon name="chevron-down-circle-outline" style="color:#86f0ad;"></ion-icon>
            <ion-label>TODO</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="5">
          <ion-chip (click)="updateTask(doing,'DONE')" tappable>
            <ion-icon name="chevron-down-circle-outline" style="color:#ff6365;"></ion-icon>
            <ion-label>DONE</ion-label>
          </ion-chip>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="deleteTask(doing)" size="small" color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>