<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="addTask()" color="primary" size="small">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      TODO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TODO</ion-title> <!-- there are two of them due to iOS Collapsible Large Title support-->
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="isAddTaskClicked == true">
    <form [formGroup]="addtask" (ngSubmit)="onSubmit()">
      <ion-card-header>
        <ion-card-subtitle style="text-align: center;">CREATE TASK</ion-card-subtitle>
        <ion-chip>
          <ion-label color="#86f0ad" outline="true">TODO</ion-label>
        </ion-chip>

        <ion-item>
          <ion-input id="title" name="title" (blur)="blur()" formControlName="title" placeholder="Title"></ion-input>
        </ion-item>

        <ion-label style="color: red;" *ngIf="displayMessage.title">
          {{displayMessage.title}}
        </ion-label>


      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-textarea id="content" name="content" (blur)="blur()" formControlName="content" placeholder="Content">
          </ion-textarea>
        </ion-item>

        <ion-label style="color: red;" *ngIf="displayMessage.content">
          {{displayMessage.content}}
        </ion-label>

      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-button type="submit" [disabled]="!addtask.valid || !addtask.dirty" size="small" id="btn">Save Task
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="cancel()" color="danger" size="small" id="btn">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>


  <ion-card id="cardTodo" *ngFor="let todo of todoList">
    <ion-card-header>
      <ion-card-subtitle>{{todo.type}}</ion-card-subtitle>
      <ion-card-title>{{ todo.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{todo.content}}
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-chip (click)="updateTask(todo,'DOING')" tappable>
            <ion-icon name="chevron-down-circle-outline" style="color: #ffa600;">
            </ion-icon>
            <ion-label>DOING</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="5">
          <ion-chip (click)="updateTask(todo,'DONE')" tappable>
            <ion-icon name="chevron-down-circle-outline" style="color:#ff6365;">
            </ion-icon>
            <ion-label>DONE</ion-label>
          </ion-chip>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="deleteTask(todo)" size="small" color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>



</ion-content>