<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DONE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DONE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="cardTodo" *ngFor="let done of doneList">
    <ion-card-header>
      <ion-card-subtitle>{{done.type}}</ion-card-subtitle>
      <ion-card-title>{{ done.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{done.content}}
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-chip (click)="updateTask(done,'TODO')" tappable>
            <ion-icon name="chevron-down-circle-outline" style="color:#86f0ad;"></ion-icon>
            <ion-label>TODO</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="5">
          <ion-chip (click)="updateTask(done,'DOING')" tappable>
            <ion-icon name="chevron-down-circle-outline" style="color:#e4e560;"></ion-icon>
            <ion-label>DOING</ion-label>
          </ion-chip>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="deleteTask(done)" size="small" color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>